.project
.settings
.classpath
.metadata
bin/
dist/
vendor/
*.zip
exercise2/output/query/large*
exercise2/output/query/medium*
exercise2/output/query/small*
exercise3/output/exercise1/*
exercise3/output/exercise2/*
exercise3/output/*.pdf
exercise3/output/*.numbers
exercise3/output/*.csv
