.project
.settings
.classpath
.metadata
bin/
dist/
vendor/
*.zip
exercise2/output/query/large*
exercise2/output/query/medium*
exercise2/output/query/small*
exercise2/output/exercise1/*
exercise2/output/exercise2/*
